%div{style: 'text-align: right;'}= "________________________________________&nbsp;&nbsp;&nbsp;&nbsp;#{signer}".html_safe
%div{style: 'text-align: right; margin-right: 55mm; font: 7pt Helvetica;'}= '(подпись)'
