body
  background-color: #eee
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

#wrapper
  width: 800px
  margin: auto

header
  padding: 20px 0 30px 0
  a
    font-size: 30px
    font-weight: bold
    color: white
    text-shadow: rgba(0,0,0,0.62) 1px 1px 3px
    text-decoration: none