#uic
  float: right
  margin-left: 20px
  width: 240px
  ul.reports
    list-style: none
    padding: 0 0 0 20px
    li.report
      font-size: 11px
      margin-bottom: 20px
      .type
        display: inline-block
        width: 15px
        height: 15px
        background: image-url("call-center/report-types.png")
        margin-left: -21px
        margin-right: 4px
        position: relative
        top: 4px
      &.message
        .type
          background-position: 0 0
      &.violation
        .type
          background-position: 0 -15px
      .header
        font-weight: bold
      .text
        padding-left: 1ex
        border-left: #ccc solid 2px
      .meta
        margin-top: 1em
        p
          margin: 0
          .label
            color: #666
            margin-right: 1ex
  .notice 
    color: #999
    font-size: 14px