%p
  Привет
  = @user.email
%p Кто-то запросил процедуру смены пароля. Вы можете сделать это по ссылке ниже.
%p= link_to 'Сменить пароль', edit_password_url(@user, :reset_password_token => @token)
%p Если вы не запрашивали эту процедуру - проигнорируйте это письмо.
%p Ваш пароль не будет изменен пока вы не проследуете по ссылке и не создадите новый.
