.page-header
  %br
  %br
  .text-center
    %h4 Регистрация наблюдателей закончена
  %br
  Если вы хотите помочь контролировать ход голосования, вы можете принять участие в проведении социологических опросов (экзит-поллов) 8 сентября.
  %br
  Для этого заполните, пожалуйста, вот эту #{link_to 'форму', 'https://podio.com/webforms/5347758/419282'}.

  %br
  %br
  Спасибо!