.page-header
  %h4 Готово!
  %span
    Мы с Вами свяжемся.
  %br

.shareblock
  А пока Вы можете поделиться радостью регистрации с друзьями;)
  %br
  .pluso{"data-background" => "transparent", "data-options" => "big,round,multiline,horizontal,nocounter,theme=08", "data-services" => "vkontakte,facebook,twitter,livejournal,odnoklassniki,google,moimir,email,yandex", "data-title" => "Я буду наблюдателем на выборах мэра Москвы! Сделаем выборы честными, присоединяйтесь", "data-url" => "http://register.rosvybory.org/", "data-description" => "Я буду наблюдателем на выборах мэра Москвы! Сделаем выборы честными, присоединяйтесь"}

%br
%p
  Куда дальше:
  %ul
    %li= link_to "РосВыборы", 'http://rosvybory.org'
    %li= link_to "Обучение и методические материалы", 'http://rosvybory.org/training.html'
    %li= link_to "Программа Навального", 'http://navalny.ru'


:javascript
  (function() {
            if (window.pluso)if (typeof window.pluso.start == "function") return;
            var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
            s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
            s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
            var h=d[g]('head')[0] || d[g]('body')[0];
            h.appendChild(s);
            })();

