%h3
	Здравствуйте!
%p
	Благодарим Вас за регистрацию в системе РосВыборы.
	%br/
	Для завершения процедуры регистрации необходимо подтвердить правильность адреса электронной почты. Для подвтерждения адреса нажмите на ссылку 
	%br/
	= link_to confirm_email_url(key: @user['confirmation_token']), confirm_email_url(key: @user['confirmation_token'])
	или скопируйте её в адресную строку браузера.
