// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!

//= require jquery.ui.dialog
//= require formtastic-bootstrap
//= require select2
//= require editable/jquery-editable

@import "active_admin/mixins";
@import "active_admin/base";

@import "active_admin/select2";
@import "active_admin/numeric_range";
@import "active_admin/fix_titlebar_zindex";
@import "active_admin/dislocation_errors";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

#user_last_name_input, #user_first_name_input, #user_patronymic_input {
  float: left;
  width: 30%;
  @include box-sizing(border-box);
  label {
    float: none !important;
  }
  input {
    width: 100% !important;
  }
}
#user_address_input {
  clear: left;
}
.control_dislocations {
  .unsaved {
    background-color: #dd3;
  }
  .dislocation_errors .message {
    color: #900;
  }
  .current_role_id {
    white-space: nowrap;
  }
}

.many-new {
  width: 150%;
}
