// Place all the styles related to the UserApps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_app_extra {
  width: 90%;
}

#social_accounts input {
  width: 60%;
}

#verification_start_button, #verification_confirm_button {
  vertical-align: top;
}

#verification_controls {
  display: none;
}

#user_app_phone_input .help-inline {
  vertical-align: top;
  margin-top: 7px;
  margin-left: 5px;
}
