// Place all the styles related to the UserApps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_app_extra {
  width: 90%;
}

#social_accounts input {
  width: 60%;
}