.active_admin
  &.control_call_center_reports
    &.index
      td
        select
          border: none
          background: none
          -webkit-appearance: none
          -moz-appearance: none
          appearance: none
          outline: none
          cursor: pointer
        &.approved
          > div
            padding: 0.3em 1ex
            border-radius: 3px
            &.approved
              background-color: #76D100
              *
                color: white
            &.rejected
              background-color: red
              *
                color: white
            &.needs-review
              background-color: none
              border-bottom: #ccc dashed thin
        &.violation_type
          > div
            select
              width: 20px
              height: 18px
              background: image-url("control/edit-icon.png")
              text-indent: -9999px